* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, 'Segoe UI', Georgia, 'Times New Roman', Times, serif, sans-serif;
  line-height: 1.6;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
}

.container {
  text-align: center;
  display: flex;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack elements vertically */
}

.right {
  padding-left: 100px;
}

.stopwatch {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#display {
  font-size: 36px;
  margin-bottom: 10px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #eee;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}